# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Logs
*.log

# Virtual env
.venv/
.env

# Ignore actual Data
data/*.json
data/*.csv
data/*.db

# GoogleApi Credentials
GmailCredentials.json
token.pickle